---
title: My Rad Blog
---

<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta property="description" content="{{ subtitle | safe }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="text/html"/>
    <meta property="og:description" content="{{ subtitle | safe }}"/>
    <meta property="og:image" content="https://www.theduckcreator.in.th/assets/Logo2021/Banner2021.png"/>
    <link href="https://fonts.googleapis.com/css?family=Kanit:300,400&display=swap" rel="stylesheet"/>
    <link rel="icon" href="/img/ThSFavicon.png"/>
    <link rel="stylesheet" href="{{ '/index.css' | url }}">
    <link rel="alternate" hreflang="{{ lang }}" href="{{ page.url }}">
    {% for link in page.url | locale_links %}
      <link rel="alternate" hreflang="{{ link.lang }}" href="{{ link.url }}">
    {% endfor %}
  </head>
  <body class="bg-base-100">
    <nav class="navbar" role="navigation" aria-label="main navigation" class="rounded-md z-2">
      <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="{{ "/" | locale_url }}">
            <img src="/img/logo.png" class="w-36"/>
          </a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1 ml-4 pr-10 z-10">
            {% for item in navigation[page.lang] %}
              {% if item.inside == false %}
                <li class="hidden md:block">
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% for link in page.url | locale_links %}
              {%- if not loop.first %},{% endif %}
              <li>
                <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
                  <img class="w-5 py-1" src="/img/{{ link.lang }}.png">
                </img>
              </li>
            </a>
          </li>
        {% endfor %}
        <li>
          <details>
            <summary>
              {{ language[page.lang].menuText }}
            </summary>
            <ul class="p-2 bg-base-100" style="z-index:20;">
              {% for item in navigation[page.lang] %}
                <li>
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </body>
</html></div></nav><div class="z-0">{{ content | safe }}<div class="grid grid-cols-2 md:grid-cols-4 w-full">
<a href="{{ "/about" | locale_url }}" style="background-image: url(/img/menulist/1.jpg)" class="h-48 w-full bg-cover">
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Biography <br/>ประวัติส่วนตัว
      </div>
    </div>
  </div>
</a>
<a style="background-image: url(/img/menulist/2.jpg)" href="{{ "/timeline" | locale_url }}" class="h-48 w-full bg-cover">
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Working Timeline <br/>ประวัติการทำงาน
      </div>
    </div>
  </div>
</a>
<a style="background-image: url(/img/menulist/3.jpg)" class="h-48 w-full bg-cover" href={{ "/project" | locale_url }}>
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Portfolio <br/>ผลงาน
      </div>
    </div>
  </div>
</a>
<a style="background-image: url(/img/menulist/4.jpg)" class="h-48 w-full bg-cover" href={{ "/skill" | locale_url }}>
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Skill <br/>ความสามารถ
      </div>
    </div>
  </div>
</a>
<a
  href="https://gallery.theethawat.dev"
  style="background-image: url(/img/menulist/5.jpg)"
  class="h-48 w-full bg-cover">
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Gallery <br/>แกลอรี่
      </div>
    </div>
  </div>
</a>
<a style="background-image: url(/img/menulist/6.jpg)" class="h-48 w-full bg-cover" href={{ "/personal-life" | locale_url }}>
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Personal Life <br/>ชีวิตส่วนตัว
      </div>
    </div>
  </div>
</a>
<a href={{ "/vcard" | locale_url }} style="background-image: url(/img/menulist/8.jpg)" class="h-48 w-full bg-cover">
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Contacts <br/>ติดต่อ
      </div>
    </div>
  </div>
</a>
<a href={{ "https://blog.theethawat.dev" }} style="background-image: url(/img/menulist/7.jpg)" class="h-48 w-full bg-cover">
  <div class="hero-overlay bg-opacity-60 hover:bg-opacity-80 cursor-pointer">
    <div class="w-full flex h-full items-center text-xl hover:text-2xl">
      <div class="mx-auto text-white kanit text-center">
        Blogs <br/>บล็อก
      </div>
    </div>
  </div>
</a></div></div><br/> <br/><br/><footer class="footer footer-center p-10 bg-base-200 text-base-content rounded"><div>
<div class="my-2 text-lg mx-1 kanitlight ">Find
  <b>Theethawat</b>
  Profile on!</div>
<div class="grid grid-flow-col justify-center gap-4 items-center">
  <a class="link link-hover" title="github" href="https://github.com/theethawat"><img src="/img/another-logo/github.png" class="image piccenter   w-24 "/>
  </a>
  <a class="link link-hover" title="researchgate" href="https://www.researchgate.net/profile/Theethawat-Savastham">
    <img src="/img/another-logo/researchgate.png" class="image piccenter  w-24"/>
  </a>
  <a class="link link-hover" title="orcid" href="https://orcid.org/0009-0004-4639-0398">
    <img src="/img/another-logo/orcidlogo.png" class="image piccenter  w-24"/>
  </a>
  <a class="link link-hover" title="stackshare" href="https://stackshare.io/theethawat">
    <img src="/img/another-logo/stackshare.png" class="image piccenter  w-24"/>
  </a>
  <a class="link link-hover" title="devhub" href="https://devhub.in.th/developers/theethawat.s/">
    <img src="/img/another-logo/devhub.png" class="image piccenter  h-10"/>
  </a>
  <a class="link link-hover" title="blockdit" href="https://blockdit.com/tintheethawat">
    <img src="/img/another-logo/blockdit.png" class="image piccenter  h-10"/>
  </a>
</div>
<br/> <hr/>
<div class="grid grid-flow-col gap-4">
  <a class="link link-hover"><img src="/img/logo.png" class="image piccenter " style="height:70px;"/>
  </a>
  <a class="link link-hover" href="https://theduckcreator.in.th">
    <img src="/img/logotdc.png" class="image piccenter" style="height:70px;"/>
  </a>
</div></div><div>
<div class="grid grid-flow-col gap-4">
  <a href="https://github.com/theethawat" title="Github Theethawat" target="_blank">
    <i class="fa-brands fa-github  text-xl mx-1 my-2"></i>
  </a>
  <a href="https://facebook.com/tin.savastham" title="Theethawat Savastham Facebook" target="_blank">
    <i class="fa-brands fa-facebook  text-xl mx-1 my-2"></i>
  </a>
  <a href="https://instagram.com/tin_savastham" title="Theethawat IG" target="_blank">
    <i class="fa-brands fa-instagram  text-xl mx-1 my-2"></i>
  </a>
  <a href="https://threads.net/tin_savastham" title="Theethawat Threads" target="_blank">
    <i class="fa-brands fa-square-threads  text-xl mx-1 my-2"></i>
  </a>
  <a href="https://th.linkedin.com/in/theethawat-savastham" title="Linkedin" target="_blank">
    <i class="fa-brands fa-linkedin  text-xl mx-1 my-2"></i>
  </a>
  <a href="https://www.youtube.com/channel/UCCJCyyJie_v2t76AcJZvjVA" title="Youtube" target="_blank">
    <i class="fa-brands fa-youtube  text-xl mx-1 my-2"></i>
  </a>
  <a href="http://line.me/ti/p/~svstin1998" title="Line" target="_blank">
    <i class="fa-brands fa-line  text-xl mx-1 my-2"></i>
  </a>
  <a href="mailto:theethawat@outlook.co.th" title="Line" target="_blank">
    <i class="fa-solid fa-envelope  text-xl mx-1 my-2"></i>
  </a>
</div></div><div>
<p class="kanitlight">
  &copy; 2023 - 2025
  <strong>Theethawat</strong>
  &
  <strong>The Duck Creator</strong>, Web
                                          Content is licensed by
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 BY International</a>
  <br/>Front Page Made by
  <a href="https://www.11ty.dev/">11ty
  </a>Server
                        By
  <a href="https://github.com/theethawat">GitHub Page</a>
  on
  <a href="https://github.com">GitHub</a>
  <a class="link" href="https://github.com">GitHub</a>
  Free SVG Backgrounds and Patterns by<a class="link" href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">
    SVGBackgrounds.com
  </a>
</p></div></footer><script src="https://kit.fontawesome.com/942c2b45e2.js"></script><script>document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array
    .prototype
    .slice
    .call(document.querySelectorAll('.navbar-burger'), 0);
  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});</script></body></html>