---
layout: mainlayout.njk
title: Portfolio
subtitle: ผลงาน
next_page: /skill
next_page_name: Skill
prev_page: /timeline
prev_page_name: Working Timeline
projects:
  - name: E-Health for Personal Sensor application
    subtitle: โปรเจกต์จบการศึกษาปริญญาตรี
    description: แอปพลิเคชันติดตามสุขภาพของผู้ใช้งาน โดยอ่านผ่าน Bluetooth ในระบบ Android
    link: ehealth
    image: /img/project/ehealth.jpg
    type: research
    year: 2019-2020
  - name: Artificial Neural Network-Like For Cost Estimation
    subtitle: งานวิจัยระดับปริญญาโท
    description: การสร้าง Glass Box สำหรับประมาณการต้นทุนโดยเทคนิคเสมือน Neural Network
    image: /img/project/thesis.jpg
    link: cost-estimation
    year: 2023-ปัจจุบัน
    type: research
  - name: E-Accom
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: ระบบจัดการห้องพักบน Cloud ร้านอาหาร เว็บไซต์และระบบจองห้องพัก
    image: /img/project/eaccom/3.jpg
    link: eaccom
    year: 2021-2023
    type: feature-project
  - name: E-Manufac
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: ระบบติดตามการผลิต คลังวัตถุดิบ คลังสินค้าบนระบบ Cloud
    link: emanufac
    image: /img/project/emanufac/3.jpg
    year: 2021-Present
    type: feature-project
  - name: E-IotSoft & E-Machine
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: ระบบแดชบอร์ด และควบคุมเครื่องจักร ผ่านระบบเซ็นเซอร์และ IoT
    link: emanufac
    image: /img/project/emanufac/3.jpg
    year: 2020-2021
    type: feature-project
  - name: 10.28 Bike Register System
    subtitle: โปรเจกต์ฝึกงาน
    description: ระบบภายในสำหรับพนักงานรับลงทะเบียนงานปั่นจักรยาน
    link: internship
    year: 2019
    type: working-project
  - name: E-Salesman
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: แอพพลิเคชั่นสำหรับพนักงานขาย ที่จะช่วยกระจายสินค้า ในวิกฤติการแพร่ระบาดของโรคโควิด 19
    link: esalesman
    year: 2020
    type: working-project
  - name: E-Worker
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: ระบบบริหารจัดการงาน ส่งต่องาน และจัดการพนักงาน ถูกนำไปใช้ในการจัดการงานของโรงแรม
    link: eworker
    year: 2021
    type: working-project
  - name: E-Voucher
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: ระบบการขาย Travel Voucher ออนไลน์
    link: evoucher
    year: 2021
    type: working-project
  - name: Klonghoykhong Covid Spotmap & Line OA
    subtitle: Sidework
    description: Line OA และ แอพพลิเคชั่นบนไลน์ระบุจุดเสี่ยงโควิด 19
    link: lineoa-spotmap
    year: 2021
    type: working-project
  - name: Mental Health Scan
    subtitle: Sidework
    description: ระบบแบบสำรวจสุขภาพจิตสำหรับบุคคลากรการแพทย์ และ อสม.
    link: mental-health-scan
    year: 2022
    type: working-project
  - name: E-Logistic & Maintenance
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: ระบบจัดการการซ่อมบำรุงรถขนส่ง คลังวัสดุ และจัดตารางเดินรถ
    link: elogistic
    year: 2022
    type: working-project
  - name: MVVM Android Doc
    subtitle: งานเขียนส่วนตัว
    description: คู่มือการใช้งาน Android MVVM จากประสบการณ์ที่เรียนรู้จากการพัฒนาโครงงานระดับปริญญาตรี
    link: https://www.theduckcreator.in.th/tin-android-docs/
    year: 2020
    type: writing
  - name: IARC React Starter
    subtitle: โปรเจกต์ร่วมกับศูนย์วิจัยระบบอัตโนมัติอัจฉริยะ
    description: คู่มือการเริ่มต้น React เป็น Starter Kit สำหรับการเทรนพนักงานใหม่ของศูนย์วิจัยฯ ที่ทำงาน
    link: https://github.com/IARC-Programing/mystarter-react/wiki
    year: 2023-ปัจจุบัน
    type: writing
  - name: The Duck Creator Site
    subtitle: งานเขียนส่วนตัว
    description: เว็บไซต์และบล็อกสำหรับแบ่งปันความรู้ทั้งด้านซอฟต์แวร์ และแง่มุมต่าง ๆ ของตนเอง
    link: https://theduckcreator.in.th
    year: 2019-ปัจจุบัน
    type: writing
  - name: Class Work & Study and Hobby Project
    description: โปรแกรมทั้งระหว่างเรียน และโปรเจกต์ส่วนตัวในเวลาว่าง
    link: other-work
    type: other
  - name: None Programing
    description: งานส่วนตัวและอื่นๆ ที่ไม่เกี่ยวกับการพัฒนาโปรแกรม
    link: none-program
    type: other
---

<div>
  <h2 class="mb-2">Research Project</h2>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {% assign research_project = projects | where: "type", "research" %} {% for
  project in research_project %}
  <div class="card card-side max-w-96 bg-base-100 shadow-xl">
    <figure>
      <img
        src="{{project.image}}"
        alt="{{project.name}}"
        class="w-full object-cover object-top"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.name}}</a
        >
      </h2>

      <small> {{project.subtitle}} </small>
      <div class="badge badge-accent">{{project.year}}</div>
      <div class="flex">
        <div class="w-3/4"></div>
        <div class="w-1/4"></div>
      </div>
      <p>{{project.description}}</p>
      <div class="card-actions justify-end">
        <a
          class="btn btn-primary btn-sm"
          style="color: white; text-decoration: none"
          href="{{project.link}}"
        >
          More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div>
  <h2 class="my-4">Development Feature Project</h2>
</div>
{% assign feature_project = projects | where: "type", "feature-project" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in feature_project %}
  <div class="card max-w-96 max-h-96 bg-base-100 shadow-xl">
    <figure>
      <img
        src="{{project.image}}"
        alt="{{project.name}}"
        class="w-full object-cover h-48 object-center"
      />
    </figure>
    <div class="card-body pt-2">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.name}}</a
        >
      </h2>
      <small> {{project.subtitle}} </small>
      <div class="badge badge-accent">{{project.year}}</div>
      <div class="flex">
        <div class="w-3/4"></div>
        <div class="w-1/4"></div>
      </div>
      <p>{{project.description}}</p>
      <div class="card-actions justify-end">
        <a
          class="btn btn-primary btn-sm"
          style="color: white; text-decoration: none"
          href="{{project.link}}"
        >
          More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div>
  <h2 class="my-4">Working Project</h2>
</div>
{% assign working_project = projects | where: "type", "working-project" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in working_project %}
  <div class="card bg-base-100 shadow-md">
    <div class="card-body p-4">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.name}}</a
        >
        <div class="badge badge-accent">{{project.year}}</div>
      </h2>
      <small> {{project.subtitle}} </small>

      <div class="flex items-center">
        <div class="w-3/4"><p>{{project.description}}</p></div>
        <div class="w-1/4">
          <a
            class="btn btn-primary btn-sm"
            style="color: white; text-decoration: none"
            href="{{project.link}}"
          >
            More
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div></div>
</div>

<div>
  <h2 class="my-4">Writing & Publication</h2>
</div>
{% assign writing = projects | where: "type", "writing" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in writing %}
  <div class="card bg-base-100 shadow-md">
    <div class="card-body p-4">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.name}}</a
        >
        <div class="badge badge-accent">{{project.year}}</div>
      </h2>
      <small> {{project.subtitle}} </small>

      <div class="flex items-center">
        <div class="w-3/4"><p>{{project.description}}</p></div>
        <div class="w-1/4">
          <a
            class="btn btn-primary btn-sm"
            style="color: white; text-decoration: none"
            href="{{project.link}}"
          >
            More
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div></div>
</div>
<div>
  <h2 class="my-4">Other Projects</h2>
</div>
{% assign other_project = projects | where: "type", "other" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in other_project %}
  <div class="card bg-base-100 shadow-md">
    <div class="card-body p-4">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.name}}</a
        >
      </h2>

      <div class="flex items-center">
        <div class="w-3/4"><p>{{project.description}}</p></div>
        <div class="w-1/4">
          <a
            class="btn btn-primary btn-sm"
            style="color: white; text-decoration: none"
            href="{{project.link}}"
          >
            More
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
