---
layout: mainlayout.njk
title: Portfolio
subtitle: Recent Projects
next_page: /en/skill
next_page_name: Skill
prev_page: /en/timeline
prev_page_name: Working Timeline
---

<div>
  <h2 class="mb-2">Research Project</h2>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {% assign research_project = projects | where: "type", "research" %} {% for
  project in research_project %}
  <div class="card card-side max-w-96 bg-base-100 shadow-xl">
    <figure>
      <img
        src="{{project.image}}"
        alt="{{project.name}}"
        class="w-full object-cover object-top"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.translation[page.lang].name}}</a
        >
      </h2>

      <small> {{project.translation[page.lang].subtitle}} </small>
      <div class="badge badge-accent">{{project.year}}</div>
      <div class="flex">
        <div class="w-3/4"></div>
        <div class="w-1/4"></div>
      </div>
      <p>{{project.translation[page.lang].description}}</p>
      <div class="card-actions justify-end">
        <a
          class="btn btn-primary btn-sm"
          style="color: white; text-decoration: none"
          href="{{project.link}}"
        >
          More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div>
  <h2 class="my-4">Development Feature Project</h2>
</div>
{% assign feature_project = projects | where: "type", "feature-project" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in feature_project %}
  <div class="card max-w-96 bg-base-100 shadow-xl">
    <figure>
      <img
        src="{{project.image}}"
        alt="{{project.translation.[page.lang].name}}"
        class="w-full object-cover h-52 object-center"
      />
    </figure>
    <div class="card-body pt-2">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.translation[page.lang].name}}</a
        >
      </h2>
      <small> {{project.translation[page.lang].subtitle}} </small>
      <div class="badge badge-accent">{{project.year}}</div>
      <div class="flex">
        <div class="w-3/4"></div>
        <div class="w-1/4"></div>
      </div>
      <p>{{project.translation[page.lang].description}}</p>
      <div class="card-actions justify-end">
        <a
          class="btn btn-primary btn-sm"
          style="color: white; text-decoration: none"
          href="{{project.link}}"
        >
          More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div>
  <h2 class="my-4">Working Project</h2>
</div>
{% assign working_project = projects | where: "type", "working-project" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in working_project %}
  <div class="card bg-base-100 shadow-md">
    <div class="card-body p-4">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.translation[page.lang].name}}</a
        >
        <div class="badge badge-accent">{{project.year}}</div>
      </h2>
      <small> {{project.translation[page.lang].subtitle}} </small>

      <div class="flex items-center">
        <div class="w-3/4">
          <p>{{project.translation[page.lang].description}}</p>
        </div>
        <div class="w-1/4">
          {% if project.link %}
          <a
            class="btn btn-primary btn-sm"
            style="color: white; text-decoration: none"
            href="{{project.link}}"
          >
            More
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div></div>
</div>

<div>
  <h2 class="my-4">Writing & Publication</h2>
</div>
{% assign writing = projects | where: "type", "writing" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in writing %}
  <div class="card bg-base-100 shadow-md">
    <div class="card-body p-4">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.translation[page.lang].name}}</a
        >
        <div class="badge badge-accent">{{project.year}}</div>
      </h2>
      <small> {{project.translation[page.lang].subtitle}} </small>

      <div class="flex items-center">
        <div class="w-3/4">
          <p>{{project.translation[page.lang].description}}</p>
        </div>
        <div class="w-1/4">
          <a
            class="btn btn-primary btn-sm"
            style="color: white; text-decoration: none"
            href="{{project.link}}"
          >
            More
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div></div>
</div>
<!-- <div>
  <h2 class="my-4">Other Projects</h2>
</div>
{% assign other_project = projects | where: "type", "other" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in other_project %}
  <div class="card bg-base-100 shadow-md">
    <div class="card-body p-4">
      <h2 class="card-title pb-0">
        <a style="text-decoration: none; color: black" href="{{project.link}}"
          >{{project.translation[page.lang].name}}</a
        >
      </h2>

      <div class="flex items-center">
        <div class="w-3/4">
          <p>{{project.translation[page.lang].description}}</p>
        </div>
        <div class="w-1/4">
          <a
            class="btn btn-primary btn-sm"
            style="color: white; text-decoration: none"
            href="{{project.link}}"
          >
            More
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div> -->
